
/* inital setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* variable setup */
:root {
	/* colors */
	--black: #000;
	--white: #ffffff;
	--grey: #e5e5e6da;
	--blue: #d2ecfc;
	--blue-shadow: #749eb8;

	/* fonts */
    --font-main: 'Roboto Mono', monospace;
	--font-big-headings: 'Playfair Display', serif;
	--font-other: 'Roboto', sans-serif;

	/* font size */
    --font-size-extra-small: 1.8rem;
    --font-size-small: 2.2rem;
    --font-size-medium: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-extra-large: 7.5rem;

	/* container sizes */
    --container-max-width: 1200px;
    --container-large-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

	/* gutter sizes */
    --gutter-extra-large: 12rem;
    --gutter-large: 6rem;
    --gutter-medium: 3rem;
    --gutter-small: 2.5rem;
    --gutter-extra-small: 2rem;

	/* line height */
	--line-height-normal: 1.7;
	--line-height-small: 1.2;
}

/* html setup */
html {
	font-size: 62.5%; /* (16/10)*100 = 62.5% thus 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

/* body setup */
body {
    font-size: var(--font-size-extra-small);
    font-family: var(--font-main);
    font-weight: 400;
    color: var(--black);
    line-height: var(--line-height-normal);
    background: var(--white);
    overflow-x: hidden;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media only screen and (min-width: 1200) {
    .row {
        padding: 0 var(--gutter-extra-large);
    }
}

@media only screen and (min-width: 992) {
    .row {
        padding: 0 var(--gutter-large);
    }
}

@media only screen and (min-width: 768) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(min-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-extra-small);
    }
}

section {
    padding: var(--gutter-large) 0;

}

img {
    object-fit: contain;
    max-width: 100%;
}

/* warning tab */
.warning {
	color: red;
	margin: 20%;
	font-size: var(--font-size-extra-small);
}


/* headings and paragraphs */
h1, h2 {
    font-family: var(--font-big-headings);
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--black);
}

h3 {
    font-family: var(--font-other);
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--black);
}

.header-main-text {
    line-height: 1;
    font-size: var(--font-size-extra-large);
    font-weight: 400;
}

@media(max-width: 900px) {
    .header-main-text {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-large);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--blue);
    margin: var(--gutter-extra-small) 0;
}

h3 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--gutter-extra-small);
}

@media(max-width: 500px) {
    .header-main-text {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small) 0;
}

@media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
}


/* button and link stylings */
a {
    color: var(--black);
    font-weight: 400;
    font-family: var(--font-other);
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--blue);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: var(--blue);
}

.link-text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--blue-shadow);
}

.link-text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--black);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link-text:hover::after,
.link-text:focus:after {
    right: 0;
    background: var(--blue);
}

.link-text span {
    padding-left: 1rem;
    font-family: var(--font-other);
}


/* nav bar stlyings */
.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-medium) 0;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: var(--gutter-large);
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .nav-item:not(:last-child) {
        margin-right: var(--gutter-medium);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--gutter-extra-small);
    }
}

.nav-link {
    position: relative;
    display: inline-block;
	font-family: var(--font-main);
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--black);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav-link:hover {
    color: var(--blue-shadow);
}

.nav-link:hover::after {
    right: 0;
    height: 2px;
    background: var(--blue);
}


/* header stylings */
.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-small);
}

.header-text-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-text-box p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: var(--font-other);
    font-size: var(--font-size-small);
}

@media(max-width: 500px) {
    .header {
        text-align: center;
    }

    .header-text-box p {
        transform: scale(.8);
    }

	.illustration {
		transform: scale(.7);
	}
}

.illustration {
	position: absolute;
	transform: translateY(-20%) translateX(80%) scale(.6);
}


/* work */
.work-box {
    display: flex;
    align-items: center;

}


@media(max-width: 900px) {
    .work-box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work-box:not(:last-child) {
    margin-bottom: 10rem;
}

@media(max-width: 500px) {
    .work-box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work-links {
    display: flex;
    align-items: center;
}

.work-text {
    flex: 0 0 40%;
	font-family: var(--font-other);
}

.work-list {
    list-style-position: inside;
    margin-bottom: var(--gutter-small);
	font-family: var(--font-main);
}

.work-code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-large);
    transition: all .3s;
}

.work-code:hover {
    transform: scale(1.2);
}

.work-image {
	box-shadow: 0 6px 12px var(--blue-shadow);
}

.work-image-box {
	background-color: var(--blue);
	padding: 5%;
}

@media(min-width: 900px) {
    .work-image-box {
        flex: 1;
        margin: 0 0 0 5rem;
    }
}

@media(max-width: 900px) {
    .work-code {
        height: 4rem;
    }
}


/* about me */
.about-me-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
	font-family: var(--font-other);
}

@media(max-width: 900px) {
    .about-me-container {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.photo-container {
    margin-bottom: var(--gutter-medium);
}

.about-me-photo {
	box-shadow: 0 6px 12px hsl(0deg 0% 0% / 0.5);
}

@media(min-width: 900px) {
    .about-me-text {
        flex: 0 0 40%;
    }
    
    .photo-container {
        flex: 1;
        margin: 0px var(--gutter-large) 0px 0px;
    }
}


/* footer */
.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-medium);
}

.social-link-list {
    display: flex;
    justify-content: center;
    padding: var(--gutter-medium) ;
    list-style: none;
}

.social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-large);
}

.social-link-image {
    height: 4rem;
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-large) 0;
    } 
}
